section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #e1e1e1;
}
article {
  text-align: center;
  color: #333;
  border: 1px solid #222;
  padding: 40px
}
